<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        input[type=text] {
            width: 10%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        input[type=submit] {
            color: white;
            background-color: red;
            width: 10%;
            border-radius: 30px;
        }

    </style>
</head>
<body>
<h1>
    Signup Below
</h1>
<form method="post">
    {{ signup_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Join Now"></p>
</form>

</body>
</html>