{% extends "base.html" %}
{% block title %}Our Foods{% endblock %}
{%  load static %}
{% block content %}
    <ul class="nav navbar-nav">
    <a href="{% url 'chinesseRestaurant:item_list' %}">Foods</a>
    <a href="{% url 'chinesseRestaurant:home' %}">Home</a>
    <a href="{% url 'chinesseRestaurant:home' %}">About</a>
    <a href="{% url 'chinesseRestaurant:home' %}">Contact</a>
</ul>


    {% for food in foods %}
        <h2>{{ food.name }}</h2>
        <p>${{ food.price }}</p>
        <p>{{ food.description }}</p>
        <img src="{% static "images/{{ foods.photo.url }}" %}" alt="panda"/>

    {% endfor %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}