<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>  {% if category %}{{ category.name }}{% else %}Products{% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <style>
        h2 {
            color: lightcoral;
        }


    </style>

</head>

<body>

<div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li {% if not category %}class="selected"{% endif %}>
            <a href="{% url "chinesseRestaurant:item_list" %}">All</a>
        </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% for c in categories %}
    <p>{{ c }}</p>
{% endfor %}

{% for food in foods %}
    <div class="foodDesc">
        <h2>{{ food.name }}</h2>
        <p>${{ food.price }}</p>
        <p>{{ food.description }}</p>
        <img src="{% if food.image %}{{ food.image.url }}{% else %}{% static "images/logo1.jpg" %}{% endif %}"
             alt="panda" width="500" height="400">

    </div>
{% endfor %}

{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
</body>
</html>